* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.miniCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.linha {
  display: flex;
  justify-content: space-between;
}

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  /* border: 1px solid #000; */
}
.celula:last-child {
  border-right: none;
}
.linha:last-child .celula {
  border-bottom: none;
}

.botaoContainer {
  margin-left: 100px;
}
.botaoJgrDnv {
  width: 80px;
  height: 40px;
  border: 1px solid black;
}
.XO {
  font-size: large;
  color: blue;
}
.risco {
  position: absolute;
  transition: 1s;
  background-color: red;
}
.riscoH {
  width: 0px;
  height: 2px;
  top: 18px;
  left: 2px;
}
.riscoV {
  width: 0px;
  height: 2px;
  top: 4px;
  left: 12px;
  transform-origin: top left;
  transform: translateX(10px) rotate(90deg);
}
.riscoDP {
  width: 0px;
  height: 2px;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: rotate(45deg);
}
.riscoDS {
  width: 0px;
  height: 2px;
  bottom: 0;
  right: 0;
  transform-origin: center right;
  transform: translateY(-38px) translateX(0px) rotate(315deg);
}
