* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: blue; */
}

/* .primLinhaH {
  transform: translateX(-45px) translateY(25px) scaleX(11);
}
.segLinhaH {
  transform: translateX(-45px) translateY(-7px) scaleX(11);
}
.primLinhaV {
  transform: translateX(-20px) translateY(-1px) scaleY(5) scaleX(3);
}
.segLinhaV {
  transform: translateX(-55px) translateY(-65px) scaleY(5) scaleX(3);
} */
.miniCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
  height: 80px;
  width: 80px;
}
.linha {
  display: flex;
  justify-content: space-between;
}

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.celula:last-child {
  border-right: none;
}
.linha:last-child .celula {
  border-bottom: none;
}

.botaoContainer {
  margin-left: 100px;
}
.botaoJgrDnv {
  width: 80px;
  height: 40px;
  border: 1px solid black;
}
.XO {
  font-size: large;
  color: blue;
}
.riscoH {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  background-color: red;
  top: 18px;
  left: 2px;
  transition: 1s;
}
.ativoH {
  width: 75px;
}

.riscoV {
  position: absolute;
  content: "";
  width: 2px;
  height: 0px;
  background-color: blue;
  top: 4px;
  left: 12px;
  transition: 1s;
}
.ativoV {
  height: 112px;
}
.riscoDP {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  background-color: green;
  top: 0;
  left: 0;
  transform: translateX(-25px) translateY(60px) rotate(56deg);
  transition: 1s;
}
.ativoDP {
  width: 130px;
}
.riscoDS {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  background-color: green;
  top: 0;
  left: 0;
  transform: translateX(-80px) translateY(58px) rotate(124deg);
  transition: 1s;
}
.ativoDS {
  width: 130px;
}
